<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.strefakursow"/>
    <context:property-placeholder location="classpath:castle.properties"/>
    <import resource="classpath:config/castle-config.xml"/>
    <bean id="quest" class="pl.strefakursow.kursspring.domain.Quest" scope="prototype"/> <!--@Component-->
    <bean id="jedi" class="pl.strefakursow.kursspring.domain.Jedi" scope="prototype"> <!--@component-->
        <constructor-arg index="0" value="Yoda"/><!--@Autowired-->
        <constructor-arg index="1" value="100"/>
        <property name="quest" ref="quest"/> <!--ustawiania zależności, setJediQuest -->
    </bean>

    <bean id="anakin" class="pl.strefakursow.kursspring.domain.Jedi" scope="prototype" primary="true"> <!--@component-->
        <constructor-arg index="0" value="Yoda"/><!--@Autowired-->
        <constructor-arg index="1" value="100"/>
        <property name="quest" ref="quest"/> <!--ustawiania zależności, setJediQuest -->
    </bean>

    <bean id="quigonjin" class="pl.strefakursow.kursspring.domain.Jedi" scope="prototype"> <!--@component-->
        <constructor-arg index="0" value="Yoda"/><!--@Autowired-->
        <constructor-arg index="1" value="100"/>
        <property name="quest" ref="quest"/> <!--ustawiania zależności, setJediQuest -->
    </bean>


</beans>